@import 'https://fonts.googleapis.com/css?family=Open+Sans:400,700&subset=cyrillic-ext';
* {
  box-sizing: border-box; }

body {
  font: 14px "Open Sans", sans-serif;
  color: #333; }

table {
  margin-bottom: 15px;
  font-family: monospace;
  font-size: small; }

table th {
  text-align: left;
  font-weight: normal; }

.pmu-instance {
  background-color: #333; }

.calendar {
  width: 200px; }

.calendar-tricky {
  margin-top: 22px; }
